
.my-ugly-mug {
  margin: 0 auto 3em auto;
  text-align: center;
}

.my-ugly-mug .img-circle {
  animation-name: pop;
  animation-duration: .5s;
}

#calvin-hobbes-cart {
  animation-name: rock;
  position: relative;
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
}
