.section-tags {
  ul {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  li {
    color: rgba(var(--grey-3), 0.5);
    display: inline-block;
    list-style-type: none;
    font-style: normal;
    padding-left: 0.4em;
    padding-right: 0.4em;
    margin: 0.2em;
    border-radius: 3px;
    background-color: rgba(var(--grey-3), 0.1);
  }
}

.section-tags.light {
  li {
    color: var(--primary-dark);
    background-color: rgba(var(--primary-dark), 0.1);
  }
}
