#work {
  .sub-select {
    cursor: pointer;
    display: flex;
    flex-direction: row;

    li {
      border-radius: 10px;
      display: grid;
      margin: 0 1rem;
      padding: 1rem;
      transition: background-color .5s;
      grid-template-areas: 'icon'
      'title'
      'description';

      &:hover, &.active {
        background-color: rgba(250, 250, 250, .3);
      }
    }

    .title {
      border-bottom: 1px solid #231B23;
      font-family: 'Arvo', serif;
      grid-area: title;
      justify-self: center;
      text-transform: uppercase;
    }

    .icon {
      grid-area: icon;
    }

    .desc {
      text-align: center;
      grid-area: description;
    }
  }


  #work img.bit {
    width: 65px;
    height: 65px;
  }

  .examples figure {
    float: left;
    margin-left: 0;
    display: inline-block;
    margin-bottom: auto;
  }

  .examples .title {
    text-transform: uppercase;
    font-family: 'Arvo', serif;
    font-weight: 700;
  }

  .examples .logo {
    width: 8em;
  }

  .before-after {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
  }

  .before-after ul {
    padding: 0;
    margin: 0;
    list-style: inside;
  }

  .before-after .title {
    font-weight: bolder;
    font-size: .8em;
  }

  .before-after-arrow {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;

    display: inline-flex;
    background-image: url('../img/Chevron_right.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 2em;
    height: 4em;
  }

  .before, .after {
    background-color: #C8C6C1;
    padding: 1em;
    height: inherit;
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;

  }

  .before {
    margin-left: auto;
    margin-right: auto;
  }

  .after {
    margin-left: auto;
    margin-right: auto;
  }

  .examples iframe {
    width: 100%;
    height: 20em;
    border: 0 none;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1200px) {
  #work {
    .sub-select {
      flex-direction: column;

      li {
        margin: 1rem 0;
        grid-template-areas: 'icon title'
          'icon description';
        grid-template-columns: fit-content(110px) 1fr;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      .icon {
        align-self: center;
        margin-right: 1rem;
      }

      .title {
        justify-self: left;
      }

      .desc {
        text-align: left;
      }
    }
  }
}
