[submodule "niztech.com_extra/PHPMailer"]
	path = niztech.com_extra/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "niztech.com/js/--force"]
	path = niztech.com/js/--force
	url = https://github.com/kswedberg/jquery-smooth-scroll.git
[submodule "niztech.com/js/jquery-smooth-scroll"]
	path = niztech.com/js/jquery-smooth-scroll
	url = https://github.com/kswedberg/jquery-smooth-scroll.git
[submodule "niztech.com/js/ga-plugin-percent-page-viewed"]
	path = niztech.com/js/ga-plugin-percent-page-viewed
	url = https://bitbucket.org/blast-analytics-marketing/ga-plugin-percent-page-viewed.git
[submodule "niztech.com_extra/Medoo"]
	path = niztech.com_extra/Medoo
	url = https://github.com/catfan/Medoo.git
