@import url(//fonts.googleapis.com/css?family=Arbutus+Slab|Arvo:400,700,400italic,700italic);

/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   ANIMATION
   ========================================================================== */
@keyframes pop {
  0% {
    width: 10em;
    height: 10em;
  }
  93% {
    width: 16em;
    height: 16em;
  }
  100% {
    width: 15em;
    height: 15em;
  }
}

@keyframes rock {
  0% {
    transform: rotate(1deg);
  }
  5% {
    bottom: 3px;
  }
  10% {
    transform: rotate(0deg);
  }
  15% {
    bottom: 0;
  }
  20% {
    transform: rotate(2deg);
  }
  25% {
    bottom: 2px;
  }
  30% {
    transform: rotate(-1deg);
  }
  35% {
    bottom: -1px;
  }
  40% {
    transform: rotate(1deg);
  }
  45% {
    bottom: 2px;
  }
  50% {
    transform: rotate(1deg);
  }
  55% {
    bottom: 0;
  }
  60% {
    transform: rotate(2deg);
  }
  65% {
    bottom: 3px;
  }
  70% {
    transform: rotate(1deg);
  }
  75% {
    bottom: 0;
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    bottom: -2px;
  }
  90% {
    transform: rotate(-1deg);
  }
  95% {
    bottom: 3px;
  }
}


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browser-upgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
font-family: 'Arvo', serif; /*BLOCK
font-family: 'Arbutus Slab', serif; /*PARAGRAPH


Color:
Light Color: #f9f9f9 -- rgba(247, 247, 237, .87);
Purplish Color: #231B23 -- rgba(35,27,36, .93);
*/

html, body, div, span, textarea, input, label {
  box-sizing: border-box;
}

body {
  background-image: url('../img/blur.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}

ul {
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: 4em;

  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  overflow: hidden;
}

.dark a {
  color: #f9f9f9;
}

.light a {
  color: #231B23;
}

.niztech-logo {
  position: relative;
  background-image: url('../img/Logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

#page-header {
  background-color: rgba(35, 27, 36, .93);
  color: white;
}

#page-header .niztech-logo {
  width: 3em;
  height: 3em;
  left: 3em;
  top: 2.5em;
}

#page-header h1.mast {
  text-align: center;
  margin-top: 1.5em;
}

#page-header h1.mast span {
  border-bottom: 5px dotted white;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: .5em;
  font-weight: 700;
  font-size: 1.5em;
  font-family: 'Arvo', serif;
  text-transform: uppercase;
}

#page-header .tagline {
  text-align: center;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}

#page-header .tagline span {
  font-family: 'Arbutus Slab', serif;
  font-size: .75em;
}

#page-header .tagline span::after {
  content: ' \\\\ ';
}

#page-header .tagline span:last-child:after {
  content: '';
}

#pagefooter {
  text-align: center;
  font-family: 'Arvo', serif;
  background-color: rgba(35, 27, 36, .93);
  color: rgb(247, 247, 237);
  padding: 2em;
  border-top: 1px dashed #f9f9f9;
}

#pagefooter .niztech-logo {
  width: 2em;
  height: 2em;
  margin: 1.5em auto 0 auto;
}

/* == GENERIC PAGE LAYOUT ==*/

section {
  padding: 4.5em 6em 4.5em 6em;
  font-family: 'Arbutus Slab', serif;
  font-size: 12pt;
  line-height: 2em;
}

section em {
  font-style: normal;
  padding-left: .4em;
  padding-right: .4em;
  border-radius: 3px;
}

section hr {
  width: 40%;
  margin: 2em auto 2em auto;
}

section.dark {
  background-color: rgba(35, 27, 36, .93);
  color: #f9f9f9;
}

section.dark hr {
  border-top: 1px dashed #f9f9f9;
}

section.dark em {
  background-color: rgba(255, 255, 255, .3);
}

section.light {
  background-color: rgba(247, 247, 237, .87);
  color: #231B23;
}

section.light em {
  background-color: rgba(35, 27, 36, .1);
}

section.light hr {
  border-top: 1px dashed #231B23;
}

section h2 {
  text-align: center;
  font-size: 50pt;
  padding-bottom: .5em;
}

.sub-select {
  list-style: none;
  padding: 0;
  margin-top: 5em;
}

.sub-select li {
  margin-bottom: 5em;
  vertical-align: top;
}

/* -- ABOUT ME -- */


/* -- CONTACT -- */

#contact form {
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
}

#contact label,
#contact button {
  display: block;
  margin-top: 1em;
  text-align: center;
  background-color: rgba(35, 27, 36, .5);
  color: white;
  transition: color .5s, background-color .5s;
}

#contact button {
  border: 1px solid rgba(35, 27, 36, .8);
  width: 100%;
}

#contact button:hover {
  background-color: rgba(35, 27, 36, .83);
}

#contact button img {
  border: 0 none;
  height: .8em;
  margin-bottom: .2em;
}

#contact input,
#contact textarea {
  width: 100%;
  border: 0 none;
  padding: .5em;
  color: #231B23;
  transition: border .5s, background-color .5s, color .5s;
}

#contact input {
  text-align: center;
}

#contact textarea {
  height: 11em;
}

#contact .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(35, 27, 36, .93);
  text-align: center;
}

#contact .overlay > div {
  background-color: #f9f9f9;
  position: relative;
  margin-top: 22%;
  margin-left: auto;
  margin-right: auto;
  min-height: 200px;
  max-height: 70%;
  min-width: 200px;
  max-width: 70%;
  text-align: center;
}

#contact .overlay .close {
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0;
  right: 6px;
  font-size: 1em;
}

#contact .overlay .result {
  position: absolute;
  font-size: 2em;
  margin-top: 3em;
  right: 0;
  left: 0;
}

/* -- WORK -- */

#work .sub-select {
  cursor: pointer;
}

#work .sub-select li {
  padding: 1em .1em;
  border-radius: 10px;
  transition: background-color .5s;
}

#work .sub-select li:hover, #work .sub-select li.active {
  background-color: rgba(250, 250, 250, .3);
}

#work .sub-select .title {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Arvo', serif;
  border-bottom: 1px solid #231B23;
  margin-left: auto;
  margin-right: auto;
  max-width: 5em;
}

#work .sub-select .desc {
  text-align: center;
}

#work img.bit {
  width: 65px;
  height: 65px;
}

#work .examples figure {
  float: left;
  margin-left: 0;
  display: inline-block;
  margin-bottom: auto;
}

#work .examples .title {
  text-transform: uppercase;
  font-family: 'Arvo', serif;
  font-weight: 700;
}

#work .examples .logo {
  width: 8em;
}

#work .beforeafter {
  /* thanks to */
  /* https://css-tricks.com/using-flexbox/ */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;

  flex-direction: row;
  flex-pack: center;
  flex-align: stretch;
  vertical-align: middle;
}

#work .beforeafter ul {
  padding: 0;
  margin: 0;
  list-style: inside;
}

#work .beforeafter .title {
  font-weight: bolder;
  font-size: .8em;
}

#work .beforeafterarrow {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;

  display: inline-flex;
  background-image: url('../img/Chevron_right.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 2em;
  height: 4em;
}

#work .before, #work .after {
  background-color: #C8C6C1;
  padding: 1em;
  height: inherit;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;

}

#work .before {
  margin-left: auto;
  margin-right: auto;
}

#work .after {
  margin-left: auto;
  margin-right: auto;
}

#work .examples iframe {
  width: 100%;
  height: 20em;
  border: 0 none;
  overflow: hidden;
}

/* -- SOCIAL -- */
#social .sub-select {
  margin: 0;
  padding: 0;
}

#social .sub-select li {
  display: inline-block;
  width: 32%;
  margin: 0;
  padding: 0;

}

#social .sub-select .circle {
  width: 4.5em;
  height: 4.5em;
  background-size: 4.5em;
}

#social img.linkedin {
  width: 3em; /*291, 79*/
  margin-top: 1.2em;
}

#social img.github {
  width: 3em; /*291, 79*/
  margin-top: 1em;
}

#social img.resume {
  width: 3em; /*291, 79*/
  margin-top: .75em;
}

/* -- SOCIAL -- */
#tags ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

#tags ul li {
  color: rgba(255, 255, 255, .5);
  display: inline-block;
  list-style-type: none;
  font-style: normal;
  padding-left: .4em;
  padding-right: .4em;
  margin: .2em;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, .1);
  transition: color .5s, background-color .5s;
}

#tags li:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0);
}

/* -- PROCESS -- */

.process-steps {
  list-style: none;
  padding: 0;
  margin: 0;
}

.process-steps .desc {
  margin-bottom: 2em;
  text-align: center;
}

.process-steps .step {
  font-size: 2em;
  line-height: 2.2em;
  font-family: 'Arvo';
  font-weight: 600;
  text-align: center;
}

.process-steps .v-line {
  background-image: url('../img/DottedLine.png');
  background-repeat: repeat-y;
  background-size: 9px 12px;
  background-position: center;
  max-width: 100px;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px dashed;
}

/* -- stuff about me --*/
#yellowbrickroad .funfacts p {
  display: inline;
}

/* -- GENRIC -- */

.rocket {
  background-image: url('../img/nasa.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#calvin-hobbes-cart {
  animation-name: rock;
  position: relative;
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
}

.my-ugly-mug {
  margin: 0 auto 3em auto;
  text-align: center;
}

.my-ugly-mug .img-circle {
  animation-name: pop;
  animation-duration: .5s;
}

.img-circle {
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.img-circle img {
  width: inherit;
  height: inherit;
}

.img-div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.outline, .outline.light {
  border-width: 1px;
  border-style: solid;
  border-color: #231B23;
}

.outline.dark {
  border-width: 1px;
  border-style: solid;
  border-color: #f9f9f9;
}

.circle {
  background-size: 100px 100px;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  font-size: 2em;
  line-height: 3.2em;
  font-family: 'Arvo';
  font-style: italic;
  font-weight: 700;
  text-align: center;
  color: #231B23;
  margin: 0 auto 0 auto;
}

.circle.light {
  background-image: url('../img/Circle_light.svg');
}

.circle.dark {
  background-image: url('../img/Circle_dark.svg');
}

.button.visit {
  padding: .1em 1em .1em 1em;
  border: 1px solid rgba(35, 27, 36, .8);
  background-color: rgba(35, 27, 36, .5);
  color: #f9f9f9;
  font-size: .8em;
  font-family: 'Arvo', serif;
  text-decoration: none;
  transition: color .5s, background-color .5s;
}

.button.visit:hover {
  background-color: rgba(35, 27, 36, .83);
}

.button.visit img {
  height: .9em;
  width: .9em;
  margin-top: -.3em;
}

.drop-cap {
  display: inline-block;
  width: auto;
  height: 1em;
  float: left;
  padding-top: .3em;
  padding-right: .1em;
  margin-left: -.1em;
  font-weight: 700;
  font-family: 'Arvo', serif !important;
  font-size: 4em;
  text-align: center;
}

.shadow {
  -moz-box-shadow: 3px 3px 15px -6px #000;
  -webkit-box-shadow: 3px 3px 15px -6px #000;
  box-shadow: 3px 3px 15px -6px #000;
}

.left {
  float: left;
}

.error {
  background-color: #ffc4c4 !important;
  border: 1px solid #fc6e6e !important;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 1200px) {
  #page-header .niztech-logo {
    width: 4em;
    height: 4em;
  }

  .sub-select li {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  #work .sub-select li {
    width: 32%;
  }

  #work .sub-select .desc {
    margin-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  #social .sub-select li {
    display: inline-block;
  }
}

@media only screen and (max-width: 710px) {

  /* == BRANDING == */
  #wrapper {
    width: auto;
    margin-top: 20px;
    margin-left: 3px;
    margin-right: 3px;
  }

  #page-header .niztech-logo {
    width: 3em;
    height: 3em;
    left: 0;
    top: 3em;
    margin: 0 auto 0 auto;
  }

  #pagefooter .niztech-logo {
    margin-top: 1.5em;
  }

  #page-header .mast {
    margin-top: 4.5em;
  }

  #page-header .tagline span::after {
    content: ' ';
  }

  #page-header .tagline span {
    display: block;
  }

  /* == GENERIC PAGE LAYOUT ==*/
  section {
    padding: 4.5em 1.5em 4.5em 1.5em;
  }

  #about_me .img-div {
    margin-left: auto;
    margin-right: auto;
  }

  #work .examples article figure {
    float: none;
    display: block;
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0;
    text-align: center;
  }

  #work .examples iframe {
    display: none;
  }

  #work .beforeafter {
    display: block;
  }

  #work .before, #work .after {
    display: block;
    margin: auto;
    padding: .5em;
    width: 100%;
  }

  #work .beforeafter > div {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  #work .beforeafterarrow {
    background-image: url('../img/Chevron_down.svg');
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 100%;
    height: 2em;
  }

  #social .sub-select li {
    display: block;
    margin: 1em auto 1em auto;
    width: initial;
  }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                      http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
