@import url(http://fonts.googleapis.com/css?family=Arbutus+Slab|Arvo:400,700,400italic,700italic);

/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
font-family: 'Arvo', serif; /*BLOCK
font-family: 'Arbutus Slab', serif; /*PARAGRAPH


Color:
Light Color: #f9f9f9 -- rgba(247, 247, 237, .87);
Purplish Color: #231B23 -- rgba(35,27,36, .93);
*/

html, body, div, span, textarea, input, label{
  box-sizing: border-box;
}

body{
   background-image: url('../img/blur.jpg');
   background-size: cover;
   background-repeat: repeat;
   background-attachment: fixed;
   background-position: center;
}

#wrapper{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: 4em;

  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  overflow: hidden;
}

a{
  text-decoration: none;
}

.dark a{
  color: #f9f9f9;
}

.light a{
  color: #231B23;
}

header.mast{
  background-color: rgba(35,27,36, .93);
  color: white;
  height: 30em;

}

#wrapper > footer{
  text-align: center;
  font-family: 'Arvo', serif;
  background-color: rgba(35,27,36, .93);
  color: rgb(247, 247, 237);
  padding: 2em;
  border-top: 1px dashed #f9f9f9;
}

.niztechlogo{
  position: relative;
  background-image: url('../img/Logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

header.mast > .niztechlogo{
  width: 4em;
  height: 4em;
  left: 3em;
  top: 2.5em;
}

#wrapper > footer .niztechlogo{
  position: relative;
  width: 2em;
  height: 2em;
  margin: 1.5em auto 0em auto;
}

#nav {
  position: absolute;
  right:4.5em;
  top: 6.5em;
  display: inline-block;
}

#nav ul{
  /*display:none;*/
  background-color: rgba(247, 247, 237, .9);
  width: auto;
  font-family: 'Arvo', serif;
  padding: .5em 0em .5em 0em;
}

#nav li{
  display: inline-block;
  list-style: none;
  margin: 0em .8em 0em .8em;
}

#nav li:last-child{
  margin-right: 4em;
}

#nav li:first-child{
  margin-left: 1.5em;
}

#branding{
  margin-left: auto;
  margin-right: auto;
  width: 23em;
  text-align: center;
}

#brandname {
  display: block;
  padding: 2.5em 0em .5em 0em;
  /*margin-bottom: 2em;*/
  font-size: 3.3em;
  font-family: 'Arvo', serif;
  font-weight: 700;
  border-bottom: 2px dashed white;
}

#tagline{
  display: block;
  font-size: 1em;
  font-family: 'Arbutus Slab', serif;
  margin: 2.5em 0em 0em 0em;
}

.section{
  padding: 4.5em 6em 4.5em 6em;
  font-family: 'Arbutus Slab', serif;
  font-size: 12pt;
  line-height: 2em;
}

.section hr{
    width: 40%;
    margin: 2em auto 2em auto;
}

.section > footer hr{
  /*
  width: 40%;
  margin: 2em auto 2em auto;
  */
}

.section.dark{
  background-color: rgba(35,27,36, .93);
  color: #f9f9f9;
  /*transform:skew(-.5deg,.5deg);*/
}

.section.dark hr{
    border-top: 1px dashed #f9f9f9;
}

.section.light{
  background-color: rgba(247, 247, 237, .87);
  color: #231B23;
  /*transform:skew(.5deg,-.5deg);*/
}

.section.light hr{
    border-top: 1px dashed #231B23;
}

.section > header{
  text-align: center;
  font-size: 50pt;
  padding-bottom: .5em;
}

.subselect{
  list-style: none;
  padding: 0px;
  margin-top: 5em;
}

.subselect li{
  margin-bottom: 5em;
  vertical-align: top;
}

/* -- ABOUT ME -- */
#about_me .small{
  margin-top: 1em;
  font-size: .2em;
}

/* -- CONTACT -- */

#contact form{
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
}

#contact label,
#contact button{
  display: block;
  margin-top: 1em;
  text-align: center;
  background-color:  rgba(35,27,36, .5);
  color: white;
}

#contact button{
  border: 1px solid  rgba(35,27,36, .8);
  width: 100%;
}

#contact button:hover{
  background-color:  rgba(35,27,36, .83);
}

#contact button img{
  border: 0px none;
  height: .8em;
  margin-bottom: .2em;
}

#contact input,
#contact textarea{
  width: 100%;
  border: 0px none;
  padding: .5em;
  color: #231B23;
}

#contact input{
  text-align: center;
}

#contact textarea{
  height: 11em;
}

/* -- WORK -- */

#work .subselect{
  cursor: pointer;
}

#work .subselect .title{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Arvo', serif;
  border-bottom: 1px solid #231B23;
  margin-left: auto;
  margin-right: auto;
  max-width: 5em;
}

#work .subselect .desc{
  text-align: center;
}

#work img.bit{
  width: 65px;
  height: 65px;
}

#work .examples figure{
  margin-left: 0px;
  float: left;
}

#work .examples .title{
  text-transform: uppercase;
  font-family: 'Arvo', serif;
  font-weight: 700;
}

#work .examples .logo{
  width: 8em;
}

/* -- SOCIAL -- */
#social .subselect{
  margin: 0px;
  padding: 0px;
}

#social .subselect li{
  display: inline-block;
  width: 49%;
  margin: 0px;
  padding: 0px;

}

#social .subselect .circle{
  width: 4.5em;
  height: 4.5em;
  background-size: 4.5em;
}

#social img.linkedin{
  width: 3em; /*291, 79*/
  margin-top: 1.2em;
}

#social img.github{
  width: 3em; /*291, 79*/
  margin-top: 1em;
}

/* -- PROCESS -- */

.prcoess_setps{
  list-style: none;
  padding: 0;
  margin: 0;
}

.prcoess_setps .desc{
  margin-bottom: 2em;
  text-align: center;
}

.prcoess_setps .step{
  font-size: 2em;
  line-height: 2.2em;
  font-family: 'Arvo';
  font-weight: 600;
  text-align: center;
}

.prcoess_setps .v-line{
  background-image: url('../img/DottedLine.png');
  background-repeat: repeat-y;
  background-size: 9px 12px;
  background-position: center;
  max-width: 100px;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px dashed;
}

.rocket{
  background-image: url('../img/nasa.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.special{
  margin: 3em auto 3em auto;
  text-align: center;
}

.img-circle{
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.img-circle img{
  width:inherit;
  height: inherit;
}

.img-div{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* -- GENERIC -- */

.outline, .outline.light{
  border-width: 1px;
  border-style: solid;
  border-color: #231B23;
}

.outline.dark{
  border-width: 1px;
  border-style: solid;
  border-color: #f9f9f9;
}

.circle{
  background-size: 100px 100px;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  font-size: 2em;
  line-height: 3.2em;
  font-family: 'Arvo';
  font-style: italic;
  font-weight: 700;
  text-align: center;
  color: #231B23;
  margin: 0em auto 0em auto;
}

.circle.light{
  background-image: url('../img/Circle-white.svg');
}

.circle.dark{
  background-image: url('../img/Circle-dark.svg');
}

.drop-cap{
  display:inline-block;
  width: auto;
  height: 1em;
  float:left;
  padding-top: .3em;
  padding-right: .1em;
  margin-left: -.1em;
  font-weight: 700;
  font-family: 'Arvo', serif !important;
  font-size: 4em;
  text-align: center;
}

.shadow {
  -moz-box-shadow:    3px 3px 15px -6px #000;
  -webkit-box-shadow: 3px 3px 15px -6px #000;
  box-shadow:         3px 3px 15px -6px #000;
}

.left{
  float:left;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

 @media only screen and (min-width: 1200px) {
   .subselect li{
     display: inline-block;
     margin-left: auto;
     margin-right: auto;
   }

   #work .subselect li{
     display: inline-flex;
     width: 32%;
   }

   #work .subselect .desc{
     margin-top: 1.5em;
     padding-left: 1.5em;
     padding-right: 1.5em;
   }

   #social .subselect li{
     display: inline-block;
   }
 }

@media only screen and (max-width: 710px) {

  #wrapper{
    width: auto;
    margin-top: 20px;
    margin-left: 3px;
    margin-right: 3px;
  }

  header.mast{
    height: 35em;
  }

  header.mast > .niztechlogo{
    position: relative;
    width: 5em;
    height: 5em;
    left:0px;
    top: 5em;
    margin: 0em auto 0em auto;
  }

  #branding{
    width: 13em;
  }

  #brandname{
    padding: 5em 0em .5em 0em;
    font-size: 2em;
  }

  #tagline span{
    display: block;
  }

  #nav{
    display: none;
  }

  .section{
    padding: 4.5em 1.5em 4.5em 1.5em;
    /*font-size: 12pt;*/
    /*line-height: 2em;*/
  }

  #about_me .img-div {
    margin-left: auto;
    margin-right: auto;
  }

  #workexamples figure{
    float: none;
    text-align: center;
    margin: 0;
  }

  #wrapper > footer .niztechlogo{
    margin-top: 1.5em;
  }

  #social .subselect li{
    display: block;
    margin: 1em auto 1em auto;
  }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
