.drop-cap {
  display: inline-block;
  width: auto;
  height: 1em;
  float: left;
  padding-top: 0.3em;
  padding-right: 0.1em;
  margin-left: -0.1em;
  font-weight: 700;
  font-family: 'Arvo', serif !important;
  font-size: 4em;
  text-align: center;
}
