
#page-header {
  background-color: rgba(35, 27, 36, .93);
  color: white;
}

#page-header .niztech-logo {
  width: 3em;
  height: 3em;
  left: 3em;
  top: 2.5em;
}

#page-header h1.mast {
  text-align: center;
  margin-top: 1.5em;
}

#page-header h1.mast span {
  border-bottom: 5px dotted white;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: .5em;
  font-weight: 700;
  font-size: 1.5em;
  font-family: 'Arvo', serif;
  text-transform: uppercase;
}

#page-header .tagline {
  text-align: center;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}

#page-header .tagline span {
  font-family: 'Arbutus Slab', serif;
  font-size: .75em;
}

#page-header .tagline span::after {
  content: ' \\\\ ';
}

#page-header .tagline span:last-child:after {
  content: '';
}
