
.page-header {
  background-color: rgba(var(--primary-dark), .93);
  color: white;

  .niztech-logo {
    height: 3em;
    left: 3em;
    top: 2.5em;
    width: 3em;
  }

  h1.mast {
    margin-top: 1.5em;
    text-align: center;

    span {
      border-bottom: 5px dotted white;
      font-family: 'Arvo', serif;
      font-size: 1.5em;
      font-weight: 700;
      padding-bottom: .5em;
      padding-left: 1em;
      padding-right: 1em;
      text-transform: uppercase;
    }
  }

  .tagline {
    padding-bottom: 3.5em;
    padding-top: 3.5em;
    text-align: center;

    span {
      font-family: 'Arbutus Slab', serif;
      font-size: .75em;

      &::after {
        content: ' \\\\ ';
      }

      &:last-child:after {
        content: '';
      }
    }
  }
}
