@use 'general/root';
@use 'general/resets';
@use 'general/animations';
@use 'general/utils';
@use 'general/readme';

@use 'components/button';
@use 'components/circle';
@use 'components/drop-cap';
@use 'components/error';
@use 'components/img-circle';
@use 'components/img-div';
@use 'components/logo';
@use 'components/page';
@use 'components/page-footer';
@use 'components/page-header';
@use 'components/section';
@use 'components/sub-select';

@use 'page/contact';
@use 'page/process';
@use 'page/social';
@use 'page/tags';
@use 'page/tidbits';
@use 'page/work';


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 1200px) {
  #page-header .niztech-logo {
    width: 4em;
    height: 4em;
  }

  #social .sub-select li {
    display: inline-block;
  }
}

@media only screen and (max-width: 710px) {

  /* == BRANDING == */
  #wrapper {
    width: auto;
    margin-top: 20px;
    margin-left: 3px;
    margin-right: 3px;
  }

  #page-header .niztech-logo {
    width: 3em;
    height: 3em;
    left: 0;
    top: 3em;
    margin: 0 auto 0 auto;
  }

  #pagefooter .niztech-logo {
    margin-top: 1.5em;
  }

  #page-header .mast {
    margin-top: 4.5em;
  }

  #page-header .tagline span::after {
    content: ' ';
  }

  #page-header .tagline span {
    display: block;
  }

  /* == GENERIC PAGE LAYOUT ==*/
  section {
    padding: 4.5em 1.5em 4.5em 1.5em;
  }

  #about_me .img-div {
    margin-left: auto;
    margin-right: auto;
  }

  #work .examples article figure {
    float: none;
    display: block;
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0;
    text-align: center;
  }

  #work .examples iframe {
    display: none;
  }

  #work .before-after {
    display: block;
  }

  #work .before, #work .after {
    display: block;
    margin: auto;
    padding: .5em;
    width: 100%;
  }

  #work .before-after > div {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  #work .before-after-arrow {
    background-image: url('../img/Chevron_down.svg');
    margin: 1.5em auto;
    width: 100%;
    height: 2em;
  }

  #social .sub-select li {
    display: block;
    margin: 1em auto 1em auto;
    width: initial;
  }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                      http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
