/*
font-family: 'Arvo', serif; /*BLOCK
font-family: 'Arbutus Slab', serif; /*PARAGRAPH


Color:
Light Color: #f9f9f9 -- rgba(247, 247, 237, .87);
Purplish Color: #231B23 -- rgba(35,27,36, .93);
*/

body {
  background-image: url('../img/blur.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}
