.outline,
.outline.light {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(var(--primary-dark));
}

.outline.dark {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(var(--grey-2));
}

.rocket {
  background-image: url('../img/nasa.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
